<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Integrate Invoice</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paper-css/0.4.1/paper.min.css">
    <style>
        @page {
            size: A4;
        }

        * {
            box-sizing: border-box;
        }

        html,
        body {
            font-family: Arial, sans-serif;
            font-size: 10px;
        }

        .d-none {
            display: none;
        }

        .inline-svg {
            height: 1.1em;
            width: 1.1em;
            vertical-align: bottom;
            stroke: black;
        }

        table {
            width: 100%;
            margin-bottom: .5em;
            border-collapse: collapse;
        }

        table td, table th {
            padding-left: 0.25em;
            padding-right: 0.25em;
            padding-top: 0.5em !important;
            padding-bottom: 0.5em !important;
        }

        table th {
            text-align: left;
        }

        .inverse-header {
            background: black;
            color: white;
        }

        .total-label {
            text-align: right;
            font-weight: bold;
        }

        table td.table-number, table th.table-number {
            text-align: right;
        }

        table tfoot {
            border-top: 1px solid black;
        }

        .bg-lightgrey {
            background: #e3e3e3;
        }

        .bg-green {
            background: #009A10;
        }

        .fg-white {
            color: #fff;
        }

        .border-bottom {
            border-bottom: 1px solid black;
        }

        .margin-bottom-1em {
            margin-bottom: 1em;
        }

        .padding-y-50em {
            padding-top: 0.50em;
            padding-bottom: 0.50em;
        }

        .flex-container {
            display: flex;
            width: 100%;
        }

        .flex-justify-space-between {
            justify-content: space-between;
        }

        .flex-align-start {
            align-items: flex-start;
        }

        .text-center {
            text-align: center;
        }

        .contact div {
            padding-top: .25em;
            padding-bottom: .25em;
        }

    </style>
</head>

<body class="A4">
<section class="sheet padding-10mm">
    <div class="flex-container flex-justify-space-between flex-align-start margin-bottom-1em">
        <div id="bill-to" class="contact"></div>
        <div id="sold-to" class="contact"></div>
    </div>
    <div class="invoice" id="subscriptions-line-items"></div>
</section>
<script id="contact-template" type="text/template">
    <div><%= `${contact.FirstName} ${contact.LastName}` %></div>
    <div><%= contact.Address1 %></div>
    <% if (contact.Address2) { %>
    <div><%= contact.Address2 %></div>
    <% } %>
    <div><%= `${contact.City}, ${contact.State} ${contact.PostalCode}` %></div>
    <div><%= contact.Country %></div>
    <% if (contact.WorkEmail) { %>
    <div>
        <svg class="inline-svg">
            <use href="#email-svg"/>
        </svg>
        <a href="mailto:<%= contact.WorkEmail %>" title="Email <%= contact.WorkEmail %>">
            <%= contact.WorkEmail %>
        </a>
    </div>
    <% } %>
</script>
<script id="bill-to-template" type="text/template">
    <div><strong>Bill To</strong></div>
    <div><strong><%= account.Name %></strong></div>
    <% if (account.BillToLegalEntity__c) { %>
    <div><strong><%= account.BillToLegalEntity__c %></strong></div>
    <% } %>
    <div id="bill-to-contact"></div>
    <div>Invoice: <%= invoice.InvoiceNumber %></div>
</script>
<script id="sold-to-template" type="text-template">
    <div><strong>Sold To</strong></div>
    <div><strong><%= account.Name %></strong></div>
    <% if (account.SoldToLegalEntity__c) { %>
    <div><strong><%= account.SoldToLegalEntity__c %></strong></div>
    <% } %>
    <div id="sold-to-contact"></div>
</script>
<script id="subscriptions-line-items-template" type="text/template">
    <table>
        <thead>
        <tr class="bg-green fg-white">
            <th colspan="5">Service Plan Summary</th>
        </tr>
        <tr class="inverse-header">
            <th>Service Name</th>
            <th>Service Period</th>
            <th class="table-number">Unit Price</th>
            <th class="table-number">Quantity</th>
            <th class="table-number">Total</th>
        </tr>
        </thead>
        <% subscriptions.forEach(function(subscription) { %>
        <tbody class="subscription bg-lightgrey">
        <tr>
            <td colspan="5">
                <div class="flex-container flex-justify-space-between flex-align-start">
                    <div><strong>Subscription:</strong> <%= subscription.Name %></div>
                    <div><strong>SO Number:</strong> <%= subscription.SONumber %></div>
                    <div><strong>PO Number:</strong> <%= subscription.PONumber %></div>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="5">
                <div class="flex-container flex-justify-space-between flex-align-start">
                    <div>
                        <div class="padding-y-50em"><strong>Subscription</strong></div>
                        <div class="padding-y-50em"><%= subscription.Name %></div>
                    </div>
                    <div>
                        <div class="padding-y-50em"><strong>SO Number</strong></div>
                        <div class="padding-y-50em"><%= subscription.SONumber %></div>
                    </div>
                    <div>
                        <div class="padding-y-50em"><strong>PO Number</strong></div>
                        <div class="padding-y-50em"><%= subscription.PONumber %></div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th>Subscription</th>
            <th>SO Number</th>
            <th>PO Number</th>
            <th colspan="2">&nbsp;</th>
        </tr>
        <tr>
            <td><%= subscription.Name %></td>
            <td><%= subscription.SONumber %></td>
            <td><%= subscription.PONumber %></td>
            <td colspan="2">&nbsp;</td>
        </tr>
        </tbody>
        <tbody class="line-items">
        <% subscription.LineItems.forEach(function(lineItem) { %>
        <tr>
            <td><%= lineItem.Name %></td>
            <td><%= lineItem.Period %></td>
            <td class="table-number"><%= currency.format(lineItem.Price) %></td>
            <td class="table-number"><%= lineItem.Quantity %></td>
            <td class="table-number"><%= currency.format(lineItem.Price * lineItem.Quantity) %></td>
        </tr>
        <% }) %>
        </tbody>
        <% }) %>
        <tfoot id="totals"></tfoot>
    </table>
</script>
<script id="totals-template" type="text/template">
    <tr>
        <td colspan="4" class="total-label">Amount</td>
        <td class="table-number"><%= currency.format(invoice.AmountWithoutTax) %></td>
    </tr>
    <tr>
        <td colspan="4" class="total-label">Tax</td>
        <td class="table-number"><%= currency.format(invoice.TaxAmount) %></td>
    </tr>
    <tr>
        <td colspan="4" class="total-label">Total</td>
        <td class="table-number"><%= currency.format(invoice.Amount) %></td>
    </tr>
</script>
<svg class="d-none">
    <symbol id="email-svg" viewBox="0 0 75 75">
        <path d="M66.097,12.089h-56.9C4.126,12.089,0,16.215,0,21.286v32.722c0,5.071,4.126,9.197,9.197,9.197h56.9
		c5.071,0,9.197-4.126,9.197-9.197V21.287C75.295,16.215,71.169,12.089,66.097,12.089z M61.603,18.089L37.647,33.523L13.691,18.089
		H61.603z M66.097,57.206h-56.9C7.434,57.206,6,55.771,6,54.009V21.457l29.796,19.16c0.04,0.025,0.083,0.042,0.124,0.065
		c0.043,0.024,0.087,0.047,0.131,0.069c0.231,0.119,0.469,0.215,0.712,0.278c0.025,0.007,0.05,0.01,0.075,0.016
		c0.267,0.063,0.537,0.102,0.807,0.102c0.001,0,0.002,0,0.002,0c0.002,0,0.003,0,0.004,0c0.27,0,0.54-0.038,0.807-0.102
		c0.025-0.006,0.05-0.009,0.075-0.016c0.243-0.063,0.48-0.159,0.712-0.278c0.044-0.022,0.088-0.045,0.131-0.069
		c0.041-0.023,0.084-0.04,0.124-0.065l29.796-19.16v32.551C69.295,55.771,67.86,57.206,66.097,57.206z"/>
    </symbol>
</svg>
<script src="https://cdn.jsdelivr.net/npm/ejs@3.1.6/ejs.min.js"></script>
<script src="data.js"></script>
<script>

    class Currency {
        /**
         * Create a new currency formatter
         * @param {string} currency 'USD'
         * @param {string} locale 'en-US'
         */
        constructor(currency = 'USD', locale = 'en-US') {
            currency = currency || 'USD';
            locale = locale || 'en-US';
            this.formatter = new Intl.NumberFormat(locale, {
                style: 'currency',
                currency: currency
            });
        }

        /**
         * Format a number with the currency formatter
         * @param value
         * @returns {string}
         */
        format(value) {
            value = parseFloat(value);
            return this.formatter.format(value);
        }
    }

    class Output {
        /**
         * Create a new Output renderer
         * @param engine
         */
        constructor(engine) {
            this.engine = engine;
        }

        /**
         * Render bill to contact
         * @param {string} containerId
         * @param {object} billTo
         * @param {object} account
         * @param {object} invoice
         */
        billToContact(containerId, billTo, account, invoice) {
            this.render(containerId, {contact: billTo, account: account, invoice: invoice});
            this.renderContact(this.getContactId(containerId), {contact: billTo});
        }

        /**
         * Render invoice line items
         * @param {string} containerId
         * @param {array} lineItems
         */
        lineItems(containerId, lineItems) {
            this.render(containerId, {lineItems: lineItems});
        }

        /**
         * Render sold to contact
         * @param {string} containerId
         * @param {object} soldTo
         * @param {object} account
         * @param {object} invoice
         */
        soldToContact(containerId, soldTo, account, invoice) {
            this.render(containerId, {contact: soldTo, account: account, invoice: invoice});
            this.renderContact(this.getContactId(containerId), {contact: soldTo});
        }

        /**
         * Render subscription
         * @param {string} containerId
         * @param {object} subscription
         */
        subscription(containerId, subscription) {
            this.render(containerId, {subscription: subscription});
        }

        /**
         * Render subscriptions - same as above but iterates over the array
         * @param {string} containerId
         * @param {array} subscriptions
         */
        subscriptions(containerId, subscriptions) {
            this.render(containerId, {subscriptions: subscriptions});
        }

        /**
         * Render subscriptions and line items
         * @param {string} containerId
         * @param {array} subscriptions
         */
        subscriptionsAndLineItems(containerId, subscriptions) {
            this.render(containerId, {subscriptions: subscriptions});
        }

        /**
         * Render invoice totals
         * @param {string} containerId
         * @param {object} invoice
         */
        totals(containerId, invoice) {
            this.render(containerId, {invoice: invoice});
        }

        renderContact(containerId, data) {
            const html = this.compile(this.getTemplate(this.getContactTemplateId(containerId)), data);
            this.update(containerId, html);
        }

        render(containerId, data) {
            const html = this.compile(this.getTemplate(this.getTemplateId(containerId)), data);
            this.update(containerId, html);
        }

        update(containerId, html) {
            document.getElementById(containerId).innerHTML = html;
        }

        compile(template, data) {
            return this.engine.compile(template)(data);
        }

        getContactTemplateId(containerId) {
            return 'contact-template';
        }

        getContactId(containerId) {
            return containerId + '-contact';
        }

        getTemplateId(containerId) {
            return containerId + '-template';
        }

        getTemplate(templateId) {
            return document.getElementById(templateId).innerHTML;
        }
    }

    /**
     * Retrieve object(s) from the Data object provided by Zuora
     */
    const DataProvider = {
        rawData: {},
        getAccount() {
            return DataProvider.rawData.Account || {};
        },
        getBillToContact() {
            return DataProvider.rawData.BillToContact || {};
        },
        getInvoice() {
            return DataProvider.rawData.Invoice || {};
        },
        getRatePlans() {
            return DataProvider.rawData.RatePlan || [];
        },
        getSoldToContact() {
            return DataProvider.rawData.SoldToContact || {};
        },
        getSubscription() {
            const subscriptions = DataProvider.getSubscriptions();
            if (subscriptions.length) {
                return subscriptions[0];
            }
            return {};
        },
        getSubscriptions() {
            return DataProvider.rawData.Subscription || [];
        }
    };

    /**
     * Data conversion helper to add RatePlanCharge and InvoiceItems to a RatePlan object
     */
    const DataConvert = {
        addRatePlansForSubscription(subscription, data) {
            const id = subscription.Id || null;
            if (id) {
                let ratePlans = subscription.RatePlans || [];
                const rawRatePlans = data.RatePlan || [];
                rawRatePlans.forEach(function (rp) {
                    DataConvert.addRPCsForRatePlan(rp, data);
                    if (rp.SubscriptionId && rp.SubscriptionId === id) {
                        ratePlans.push(rp);
                    }
                });
                subscription.RatePlans = ratePlans;
            }
        },
        addRPCsForRatePlan(ratePlan, data) {
            const id = ratePlan.Id || null;
            if (id) {
                let ratePlanRPCs = ratePlan.RatePlanCharges || [];
                const rpcs = data.RatePlanCharge || [];
                rpcs.forEach(function (rpc) {
                    if (rpc.RatePlanId && rpc.RatePlanId === id) {
                        ratePlanRPCs.push(rpc);
                        DataConvert.addInvoiceItemsForRPC(rpc, data);
                    }
                });
                ratePlan.RatePlanCharges = ratePlanRPCs;
            }
        },
        addInvoiceItemsForRPC(rpc, data) {
            const id = rpc.Id || null;
            if (id) {
                let rpcInvoiceItems = rpc.InvoiceItems || [];
                const invoiceItems = data.InvoiceItem || [];
                invoiceItems.forEach(function (ii) {
                    if (ii.RatePlanChargeId && ii.RatePlanChargeId === id) {
                        rpcInvoiceItems.push(ii);
                    }
                });
                rpc.InvoiceItems = rpcInvoiceItems;
            }
        },
    }

    /**
     * Create an array of LineItems from a Subscription or a RatePlan
     */
    const LineItems = {
        getBaseSubscription(subscription) {
            return {
                Name: subscription.Name,
                SONumber: subscription.SONumber__c,
                PONumber: subscription.PONumber__c,
                LineItems: []
            }
        },
        getBaseLineItem() {
            return {
                Name: "",
                Period: "",
                Price: 0,
                Quantity: 0
            }
        },
        getBundledLineItemFromRatePlan(ratePlan) {
            let lineItem = LineItems.getBaseLineItem();
            lineItem.Name = ratePlan.Name;
            ratePlan.RatePlanCharges.forEach(function (rpc) {
                LineItems.setLineItemPricingFromRatePlanCharge(lineItem, rpc);
                LineItems.setLineItemPeriodFromRatePlanCharge(lineItem, rpc);
            });
            return lineItem;
        },
        getLineItemFromRatePlanCharge(ratePlanCharge) {
            let lineItem = LineItems.getBaseLineItem();
            lineItem.Name = ratePlanCharge.Name;
            LineItems.setLineItemPricingFromRatePlanCharge(lineItem, ratePlanCharge);
            LineItems.setLineItemPeriodFromRatePlanCharge(lineItem, ratePlanCharge);
            return lineItem;
        },
        getLineItemsFromRatePlans(ratePlans) {
            let lineItems = [];
            ratePlans.forEach(function (ratePlan) {
                if (LineItems.isBundle(ratePlan)) {
                    lineItems.push(LineItems.getBundledLineItemFromRatePlan(ratePlan));
                } else {
                    ratePlan.RatePlanCharges.forEach(function (rpc) {
                        lineItems.push(LineItems.getLineItemFromRatePlanCharge(rpc));
                    });
                }
            });
            return lineItems;
        },
        getSubscriptions(subscriptions) {
            let subs = [];
            subscriptions.forEach(function (subscription) {
                let sub = LineItems.getBaseSubscription(subscription);
                sub.LineItems = LineItems.getLineItemsFromRatePlans(subscription.RatePlans || []);
                subs.push(sub);
            });
            return subs;
        },
        isBundle(ratePlan) {
            return ratePlan.Bundle__c === 'Yes';
        },
        setLineItemPeriodFromRatePlanCharge(lineItem, ratePlanCharge) {
            if (!lineItem.Period) {
                ratePlanCharge.InvoiceItems.forEach(function (invoiceItem) {
                    lineItem.Period = `${invoiceItem.ServiceStartDate}-${invoiceItem.ServiceEndDate}`;
                    return false;
                })
            }
        },
        setLineItemPricingFromRatePlanCharge(lineItem, ratePlanCharge) {
            const rpcPrice = parseFloat(ratePlanCharge.Price);
            const rpcQuantity = parseInt(ratePlanCharge.Quantity);
            lineItem.Price = lineItem.Price + rpcPrice;
            lineItem.Quantity = rpcQuantity;
        }
    };

    /**
     * Create subscriptions array from raw data
     */
    const Subscriptions = {
        getSubscriptionsFromRawSubscriptions(rawSubscriptions) {
            let subscriptions = [];
            rawSubscriptions.forEach(function (subscription) {
                DataConvert.addRatePlansForSubscription(subscription, rawData);
                subscriptions.push(subscription);
            })
            return subscriptions;
        }
    }

    //const rawData = {{- Data | to_json -}};
    //console.log(rawData);
    DataProvider.rawData = rawData;
    const account = DataProvider.getAccount();
    const currency = new Currency(account.Currency);
    const subscriptions = Subscriptions.getSubscriptionsFromRawSubscriptions(DataProvider.getSubscriptions());
    //console.log(subscriptions);
    const subsLineItems = LineItems.getSubscriptions(subscriptions);
    //console.log(subsLineItems);
    const invoice = DataProvider.getInvoice();
    const output = new Output(ejs);
    output.billToContact('bill-to', DataProvider.getBillToContact(), account, invoice);
    output.soldToContact('sold-to', DataProvider.getSoldToContact(), account, invoice);
    output.subscriptionsAndLineItems('subscriptions-line-items', subsLineItems);
    output.totals('totals', invoice);

</script>
</body>

</html>
